@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* HTML: <div class="loader"></div> */
.loader {
    color: #6cee6c;
    width: 35px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#6cee6c 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }


@media screen and (max-width:640px) {
    .nav{
        /* background-color: red; */
        width:100vw;
        overflow-x:none;
    }
    .hero{
        width:100%;
    }
    .hero-form{
        display: none;
        width:100vw;
    }
    .sm-size{
        width:100px;
        height:100px;
        object-fit: contain;
    }
    .grid-sm{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2px;
        padding:0px;
    }
    .grid-sm h1{
        font-size:medium;
    }
    .griditem-sm{
        width:150px;
        height: 100px;
        font-size:xx-small;
    }
    .griditem-icon{
        display: none;
    }
    .explore{
        font-size:medium;
    }
    .latest{
        margin-top: 0;
    }
    .latest-m{
        margin-bottom: 1rem;
    }
    .main-container{
        width:screen;
    }
    /* HTML: <div class="loader"></div> */

}